* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
}

body {
  margin: 200px 36px 0 36px;
  background-color: #2e0338;
  color: #fdfdfd;
  line-height: 1.6;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 520px));
  gap: 24px;
  padding-bottom: 40px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #9a76d8;
  border-radius: 12px;
  padding: 24px;
  transition: all 0.4s ease-in-out;
}

.container_card_image {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 8px;
}

.card_image {
  top: -300px;
  width: 100%;
  height: 100%;
  align-self: center;
}

h3 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 56px;
}

.poke_name {
  text-transform: uppercase;
  letter-spacing: 8px;
}

.poke_num {
  letter-spacing: 4px;
}

.poke_desc {
  text-align: justify;
  font-size: 20px;
}

.card_characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto 24px auto;
  width: 100%;
  padding: 24px;
  background-color: #fdfdfd;
  color: #090504;
  border-radius: 12px;
}

.card_characteristic {
  width: 100%;
  text-align: center;
}

.card_characteristic h4,
.card_characteristic2 h4 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 800;
}

.card_characteristic p {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card_characteristic2 p {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card_characteristics2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 120px; /* adjust as needed */
}

.card_characteristic2 {
  width: 100%;
  text-align: center;
}

.div_vert {
  width: 4px;
  height: 100%;
  background-color: #fdfdfd89;
}

#pagination {
  width: 100%;
  background-color: #09050481;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#pagination a {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination a:hover {
  transform: scale(1.2);
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 36px;
  background-color: #2e0338;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#top-bar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#search-container input {
  border-radius: 4px;
  border: none;
  background-color: #fdfdfd;
  padding: 8px;
  font-size: 16px;
  color: #9a76d8b6;
  width: 240px;
}

#search-container input:focus {
  outline: none;
  box-shadow: 0 0 12px #9a76d8;
}

#search-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

#search-container button:hover {
  transform: scale(1.05);
}

.normal {
  background-color: #a8a77a;
}

.grass {
  background-color: #7ac74c;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.electric {
  background-color: #f7d02c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.flying {
  background-color: #a98ff3;
}

.psychic {
  background-color: #f95587;
}

.bug {
  background-color: #a6b91a;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

@media (max-width: 390px) {
  #top-bar {
    width: auto;
    padding: 12px 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  #top-bar img {
    width: 200px;
  }
  body {
    height: 100vh;
    padding: 200px 12px 100px 12px;
    margin: 0;
  }

  .cards_container {
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card {
    padding: 12px;
    width: auto;
  }

  .card_image {
    width: 120px;
    height: auto;
  }
  h3 {
    font-size: 24px;
  }
  h2 {
    font-size: 36px;
  }

  .card_characteristics {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .card_characteristics2 {
    height: 90px;
  }

  .card_characteristic2 p {
    font-size: 14px;
  }

  .card_characteristic2 h4 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #top-bar {
    width: auto;
    padding: 12px 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  body {
    height: auto;
    padding: 200px 12px 100px 12px;
  }

  .cards_container {
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1280px) {
  .card:hover {
    opacity: 0.9;
    transform: scale(1.01);
  }
}
